.idea-list {
	margin-left: 10px;
}
.jumbotron{
	background-color: rgba(255,255,255,0.6);
}

.navbar{
	background-color: rgba(255,255,255,0.6);
}

.navbar-default .navbar-brand{
	color: black;
}

.navbar-default .navbar-brand:hover{
	color: black;
}

.navbar .nav > li > a {
    color: black;
}

.remove-btn:hover {
	cursor: pointer;
}

.vote-button {
	height: 25px;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
}

.details {
	font-size:15px;
}